.comprehensive {
    // .comprehensive__container

    &__container {
    }

    // .comprehensive__body

    &__body {
        .popular__grid-item {
            max-width: 647px;
            width: 100%;
            margin-bottom: 42px;

            p {
                margin-bottom: 15px;
            }

            .best__flex-banner {
                margin-top: 20px;
            }
        }
    }

    // .comprehensive__top
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 20px;
        border: 1px solid #cdcdcd;
        margin-bottom: 52px;
        padding: 40px 40px 45px 40px;

        @media (max-width: 768px) {
            flex-direction: column;
            justify-content: center;
            padding: 25px;
            margin-bottom: 42px;
        }
    }

    // .comprehensive__left

    &__left {
        p {
            margin-bottom: 15px;
        }

        @media (max-width: 768px) {
            margin-bottom: 15px;
        }
    }

    // .comprehensive__right

    &__right {
        img {
            min-width: 171px;
        }
    }
}
.no__title-blok {

    .popular__grid-item {
        margin-bottom: 0 ;
    }
}
