.form {
    // .form__rows

    &__rows {
        // .form__rows-item

        &-item {
        }

        // .form__rows-content

        &-content {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            & > :not(:last-child) {
                margin-right: 20px;
            }

            @media (max-width: 992px) {
                flex-wrap: wrap;

                & > :not(:last-child) {
                    margin-bottom: 30px;
                    margin-right: 0;
                }
            }

            @media (max-width: 768px) {
                flex-direction: column;
                align-items: center;
                margin-right: 0;
            }
        }
    }

    // .form__input

    &__input {
        display: flex;
        flex-direction: column;

        @media (max-width: 768px) {
            width: 100%;
        }

        label {
            margin-bottom: 17px;
            color: #3a3a3a;
            font-size: 20px;
            font-style: italic;
            font-weight: 600;
            letter-spacing: -0.9px;
        }

        input {
            border-radius: 10px;
            border: 1px solid #cfcfcf;
            background: #fcfcfc;

            font-weight: 500;
            letter-spacing: -0.72px;
            padding: 16px 20px;
            max-width: 230px;
            width: 100%;

            @media (max-width: 768px) {
                max-width: none;
            }
        }
    }

    // .form__button

    &__button {
        max-width: 230px;
        width: 100%;
        position: relative;

        input {
            width: 100%;
            cursor: pointer;
        }

        @media (max-width: 768px) {
            max-width: none;
        }

        .wpcf7-spinner {
            position: absolute;
            bottom: 0;
            transform: translate(-50%, 28px);
            left: 50%;
            margin: 0;
        }
    }
}

.wpcf7-response-output {
    border-radius: 20px;
    text-align: center !important;
    margin-inline: 0 !important;
}

.invalid .wpcf7-response-output {
    border-color: #d20023 !important;
}
