.hero {
    margin-top: 52px;
    margin-bottom: 85px;

    @media (max-width: 768px) {
        margin-bottom: 100px;
        margin-top: 40px;
    }

    // .hero__container

    &__container {
    }

    // .hero__body

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    // .hero__left

    &__left {
        & > :nth-child(2) {
            margin-bottom: 15px;
        }
        & > :nth-child(3) {
            max-width: 580px;
            width: 100%;
        }

        h1 {
           
        }

        p {
            max-width: 613px;
            width: 100%;
        }

        a {
            width: 367px;
            margin-top: 40px;
            background: #d20023;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: -0.81px;
            padding: 20px 0;

            @media (max-width: 768px) {
                margin-top: 30px;
                margin-bottom: 45px;
            }
        }
    }

    // .hero__right

    &__right {
        img {
            width: 341px;
        }
    }
}
