.payment {
    // .payment__container

    &__container {
    }

    // .payment__body

    &__body {
        h2 {
            margin-bottom: 47px;

            @media (max-width: 768px) {
                margin-bottom: 57px;
            }
        }

        ol {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            @media (max-width: 768px) {
                flex-wrap: wrap;
            }

            & > :not(:last-child) {
                margin-right: 20px;
            }

            & > :nth-child(2) {
                img {
                    width: 83px;
                }
            }

            & > :nth-child(3) {
                img {
                    width: 130px;
                }
            }

            li {
                width: 313px;
                border-radius: 20px;
                background: #fbfbfb;
                padding: 27px;

                img {
                    width: 40px;
                }

                span {
                    display: block;
                    margin-top: 15px;
                    margin-bottom: 20px;
                    color: #3a3a3a;
                    font-size: 20px;
                    font-style: italic;
                    font-weight: 600;
                    letter-spacing: -0.9px;
                }

                p {
                }
            }
        }
    }
}
._container {
}
