.news {
    // .news__container

    &__container {
    }

    // .news__body

    &__body {
    }

    // .news__top

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 28px;

        h2 {
            margin-bottom: 0;
        }

        a {
            border: 1px solid #d20023;
            color: #d20023;
            width: 139px;

            @media (max-width: 768px) {
                width: 102px;
            }
        }
    }

    // .news__bottom

    &__bottom {
        @media (max-width: 1030px) {
            overflow-x: auto;
            width: 100vw;
            margin-left: -25px;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        // .news__bottom-flex

        &-flex {
            display: flex;

            & > :not(:last-child) {
                margin-right: 20px;
            }

            @media (max-width: 1030px) {
                width: fit-content;
                padding-inline: 25px;
            }
        }

        // .news__bottom-item

        &-item {
            max-width: 230px;
            width: 100%;
            display: flex;
            flex-direction: column;

            @media (max-width: 1030px) {
                flex:1 1 auto;
                min-width: 230px;
            }

            // .news__bottom-item-image

            &-image {
                display: block;
                position: relative;
                padding-bottom: 70%;

                img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    object-fit: cover;
                }
            }

            label {
                display: block;
                margin: 15px 0;
                font-size: 14px;
                letter-spacing: -0.63px;
            }

            h3 {
                color: #3a3a3a;
                font-weight: 600;
                letter-spacing: -0.72px;
                margin-bottom: 15px;
                flex: 1 1 auto;
            }

            a.link {
                display: flex;
                align-items: center;
                color: #d20023;
                letter-spacing: -0.72px;
                font-weight: 500;

                span {
                    display: block;
                    border-bottom: 1px solid #d20023;
                    margin-right: 8px;
                }

                img {
                }
            }
        }
    }
}
._container {
}
._btn {
    // ._btn-clear

    &-clear {
    }
}
